.app {
  padding: 0 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;
}

.home-headline {
  position: relative;
  clip-path: polygon(100% 100%, -200% 100%, 100% -200%);
}

.loading {
  padding: 30px 10px;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.loading__icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  animation: rotations 2s ease infinite alternate-reverse;
}

.article-wrapper {
  line-height: 1.6;
  margin-top: 30px;
}

.article-wrapper a {
  border-bottom: 1px solid;
}

.article-wrapper a:hover {
  border-bottom-color: transparent;
}


.avatar {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.links-list {
  display: flex;
  align-items: center;
}

.links-list a {
  display: inline-flex;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.links-list a:not(:last-child) {
  margin-right: 15px;
}