/* Lato Regular */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(./fonts/Lato/Lato-Regular.ttf) format('woff2');
}

/* Lato Bold */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(./fonts/Lato/Lato-Bold.ttf) format('woff2');
}

/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(./fonts/Roboto/Roboto-Regular.ttf) format('woff2');
}

/* Roboto Medium */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(./fonts/Roboto/Roboto-Medium.ttf) format('woff2');
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(./fonts/Roboto/Roboto-Bold.ttf) format('woff2');
}

:root {
  --lightyellow: #FFFCBF;
  --whiteyellow: #FFE976;
  --cyan: #03D6D2;
  --blue: #046FDB;
  --darkblue: #062D92;
}

body {
  background: #101010;
  color: #ffffff;
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: var(--whiteyellow);
  transition: all 300ms ease;
  text-decoration: none;
}

a:hover {
  color: var(--cyan);
}

ul {
  padding-left: 2em;
}

.color-cyan {
  color: var(--cyan);
}

@keyframes rotations {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}